@value mediaQuery from "../../common/size.css";

* {
  box-sizing: border-box;
}

.section {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.modalContainer {
  position: absolute;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.image {
  width: 100%;
}

.btn {
  margin-top: 50px;
  width: 100px;
  border: 1px solid black;
}

@media screen and (max-width: mediaQuery) {
}
