@value mediaQuery from "../../common/size.css";

.section {
  width: 100%;
  height: 100px;
  border: 1px solid red;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: inherit;
}

.span {
  font-size: 1rem;
}

.barHam
 /* .barStick  */ {
  display: none;
}

.list {
  display: flex;
}
@media screen and (max-width: mediaQuery) {
  .barHam
  /* .barStick  */ {
    display: inline;
    font-size: 25px;
    cursor: pointer;
  }

  .ham {
    display: none;
  }

  /* .stick {
    font-size: 30px;
    display: none;
    top: 100px;
  } */

  .list {
    display: none;
  }
}
