.modalBox {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: cadetblue;
}

.stick {
  font-size: 50px;
}

.hamlist {
  font-size: 30px;
}
